<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img id="navigationIcon" src={{NavigationIcon}} alt="Sidenav Navigation icon">
        <button class="btnSidenav" mat-raised-button color="basic" routerLink="/app/rooms">
            <mat-icon aria-hidden="false" aria-label="Sidenav icon">weekend</mat-icon>
            Rooms
        </button> <br>
        <button class="btnSidenav" mat-raised-button color="basic" routerLink="/app/lights">
            <mat-icon aria-hidden="false" aria-label="Sidenav icon">wb_incandescent</mat-icon>
            Lights
        </button> <br>
        <button class="btnSidenav" mat-raised-button color="basic" routerLink="/app/blinds">
            <mat-icon aria-hidden="false" aria-label="Sidenav icon">nights_stay</mat-icon>
            Blinds
        </button> <br>
        <button class="btnSidenav" mat-raised-button color="basic" routerLink="/app/remotes">
            <mat-icon aria-hidden="false" aria-label="Sidenav icon">phonelink_ring</mat-icon>
            Remote
        </button> <br>
        <button class="btnSidenav" mat-raised-button routerLink="/login" color="accent">
            <mat-icon aria-hidden="false" aria-label="Sidenav icon">exit_to_app</mat-icon>
            Sign Out
        </button>
    </mat-drawer>
    
    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
