.card_btn {
    margin-right: 20px;
    margin-bottom: 20px;
}

.light_card {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 100px;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
}